/* Media Query for Mobile Devices */
  
@media screen and (max-width: 576px) {
  nav {
    flex-direction: column;
    align-items: center;
    box-shadow: none;
    margin: 0px auto;
  }
  .navbar-logo{
    padding-left: 0;
    margin: 100px auto 60px auto;
  }
  .navbar-container{
    flex-direction: column;
    justify-content: center;
    padding-right: 0px;
  }
  .content-1{
    flex-direction: column;
    margin-bottom: 60px;
  }
  /* header section */
  .header-container {
    flex-direction: column;
    margin-top: 380px;
    
  }
  .text-container {
    max-width: 400px;
    margin: 0px auto;
    text-align: left;
    padding: 30px;
    margin-top: 80px;
  }
  
  .text-title{
    font-size: 2rem;
    
  }
  .goat{
    font-size: 4rem;
  }
  .description{
    font-size: x-small;
  }
  .btn-primary-1{
    font-size: 1rem;
    padding: 10px 20px;
  }
  .btn-primary-2{
    font-size: 1rem;
    padding: 10px 20px;
  }
    .img-container img {
      max-width: 400px;
      height: 400px;
      margin: 30px auto;
    }
    /* card styles */
    .online-games-title, .Funny-Videos {
      font-size: 1.5rem;
    }
    #description{
      font-size: x-small;
    }
    .card-container{
      grid-template-columns: repeat(1, auto);
      justify-content: center;
    }
    .card-text{
      font-size: x-small;
    }

 }